.tabs-wrapper {
  padding: 0 50px 30px 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  .tab {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(204, 128, 29);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px black;
      background-color: #b8bf95;
    }
  }

  .pressed-tab {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #b8bf95;
  }
}
